<div class="container">
<p id="notice"><%= notice %></p>

<h2>Customer Account Information</h2><br>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>Credit Card Type:</strong>
  <%= @user.credit_card_type %>
</p>

<p>
  <strong>Credit Card:</strong>
  <%= @user.credit_card %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Start Shopping', products_path(@products) %>
</div>