<p id="notice"><%= notice %></p>

<h1>Alcohol Selection</h1>

<div class="container search">
<%= form_tag '/search' do %>
  <%= search_field_tag :term %>
  <%= submit_tag 'Search' %>
<% end %>
</div>

<table class="table talbe-striped">
  <thead>
    <tr>
      <p><th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Picture</th>
      <th colspan="3"></th></p>
    </tr>
  </thead>
  <%= link_to 'View Cart', charges_path, class: "btn btn-info cart" %> 
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.formatted_price %></td>
        <td><%= image_tag product.url %></td>
        <td><%= link_to 'Add to Cart', products_path, class: "btn btn-info", method: :get, data: {confirm: 'Are you sure you want to add this to your cart?' } %></td>
        <td><%= link_to 'Show', product, class: "btn btn-info" %></td>
        <!-- <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', product, class: "btn btn-info", method: :delete, data: { confirm: 'Are you sure?' } %></td>  -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Product', new_product_path %> -->
